<component name="libraryTable">
  <library name="spring-boot-1.1.2.BUILD-SNAPSHOT">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot/1.1.2.BUILD-SNAPSHOT/5afc79c47213b65d3ad482b4dd81db6d08cf563f/spring-boot-1.1.2.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>