<component name="libraryTable">
  <library name="spring-boot-starter-logging-1.1.2.BUILD-SNAPSHOT">
    <CLASSES />
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/.gradle/caches/modules-2/files-2.1/org.springframework.boot/spring-boot-starter-logging/1.1.2.BUILD-SNAPSHOT/ffa7bbe00b34abd8fa677e8cad67deb1c84b3cd0/spring-boot-starter-logging-1.1.2.BUILD-SNAPSHOT-sources.jar!/" />
    </SOURCES>
  </library>
</component>